/*dialog*/

.dialogNew{
    width: 800px;
    margin: auto;
    border: green solid;
    display: none;
    /*text-align: center;*/
}

.dialogLink{
    margin-left: 50px;
}
.inputTags{
    width: 500px;
}

.dialogSub{
    text-align: right;
}























/*content*/
.top{
    background-image: url("panda.png");
}
.jumbotron{
    background: none;
}
.ltitle{
    font-size: larger;
}

.llink{
    font-size: small;
    color: #4e555b;
}
.remark{
    width: 90%;
    height: 100px;
    resize: vertical;
}
.dataTags{
    width: 90%;
    font-size: small;
    color: #4e555b;
    border-style: none none solid none;
}

.saveBtn{
    font-size: small;
}

ul{
    text-align: left;
    float: left;
}
ul li{
    display: inline;
    background: #6c757d;
    margin-right: 10px;
    color: white;
}

.dataTags{
    float:left;
}

.tagsDiv{
    margin-left: 50px;
}
.putaway{
    font-size: small;
}
.detail{
    display: none;
}


